@media screen and (max-width: 479px) {

    #viewport {
        background-color: #56b156; /*緑色*/
    }

    p {color: rgb(255, 34, 34); 
        font-family: Meiroy;
        font-weight: 100;
        font-size: 50px;
        text-align: center;
    }

    .box10 {
        padding: 0.5em 1em;
        margin: 2em 0;
        color: hsl(180, 6%, 22%);
        background: #95ffd3;/*背景色*/
        border-top: solid 6px #d61da8;
        box-shadow: 0 3px 4px rgba(121, 97, 97, 0.32);/*影*/
        width: 340px;
        padding: 10px;
        margin: 35px auto;
    }

    a{
        background: rgb(129, 172, 212);
        margin: 12px;
        color: black;
        font-size: 20px;
        position:relative;  
        top: 820px; left: 110px;  
       
        }

    

}