@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
        
    #viewport {
    background-color: #56b156; /*緑色*/
    }

    p {color: rgb(0, 0, 0); 
        font-family: Meiroy;
        font-weight: 100;
        font-size: 50px;
        text-align: center;
    }

    a.link{
        background-color: rgb(117, 125, 128);
        font-size: 20px;
        color: black;
        position:relative; 
        top: 360px;left:30px;
        }
    
    a.link2{
        background-color: rgb(117, 125, 128);
        font-size: 20px;
        color: black;
        position:relative; 
        top:360px;left:70px;
    }
    
    a.link3{
        background-color: rgb(117, 125, 128);
        font-size: 20px;
        color: black;
        position:relative; 
        top:360px;left: 100px;
    }

    #ceoimg img {
        display: inline-block;
        border-radius: 50%;
        width: 130px;
        height: 130px;
    }

    p.lead{
        font-style: italic;
        font-size: 15px;
        text-align: left;
    }


    .box10 {
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #343b3b;
        background: #e4fcff;/*背景色*/
        border-top: solid 6px #1dc1d6;
        box-shadow: 0 3px 4px rgba(121, 97, 97, 0.32);/*影*/
        width: 350px;
        padding: 10px;
        margin: 35px auto;
        
    }

    p.second {
        font-size: 10px;
    }

    .box10 img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        right: 400px;
        
    }

    #mainArea{

        border : solid 4px;
        text-align: center;
        margin: 20px auto;
        position: relative;
        top: 20px;
    
    }

    .warning {
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #f1e209;
        background: #e2fa0c;/*背景色*/
        border-top: solid 30px #f81111;
        width: 350px;
        padding: 10px;
        margin: 35px auto;
    
    }
        
    .links {
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #343b3b;
        background: #e4fcff;/*背景色*/
        border-top: solid 6px #1dc1d6;
        box-shadow: 0 3px 4px rgba(121, 97, 97, 0.32);/*影*/
        width: 350px;
        padding: 10px;
        margin: 35px auto;
    }

}